<a href="https://colab.research.google.com/github/holaamigoo/University/blob/main/Extra_Tasks/Ex_task_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [ ]:
numbers = ['1', '2', '3', '4', '5']
numbers_cubed = list(map(lambda x: int(x) ** 3, numbers))
print(numbers_cubed)

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [ ]:
words = ['level', 'python', 'radar', 'world', 'rotor']
words_filtered = list(filter(lambda w: w[0] == w[-1], words))
print(words_filtered)

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [ ]:
from functools import reduce
numbers = [47, 11, 42, 102, 13]

max_number = reduce(lambda x, y: x if x > y else y, numbers)
print(max_number)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list_of_tuples = list(map(lambda t: (t[0]**2, t[1]**3), zip(list1, list2)))

print(list_of_tuples)

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [19]:
from functools import reduce
numbers = '1,2,3,4,5,6,7,8,9,10'

numbers_separated =  map(int, numbers.split(','))
even_numbers = filter(lambda x: x % 2 == 0, numbers_separated)
sum_even_numbers = reduce(lambda x, y: x + y, even_numbers)
print(sum_even_numbers)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [ ]:
from functools import reduce
celsius = [0, 15, 30, 100]
fahrenheit = [*map(lambda t: t*9/5 + 32, celsius)]
print(fahrenheit)

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list = [*map(lambda x: x**2, filter(lambda x: x%2==1, numbers))]
print(new_list)

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
product_of_numbers = reduce(lambda x, y: x*y, numbers)
print(product_of_numbers)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [ ]:
strings = ['10', '20', 'abc', '30', 'def']

new_list = list(map(lambda x: int(x) if x.isdigit() else 0, strings))
print(new_list)

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [ ]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

points = list(zip(x_coords, y_coords))
print(points)

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [ ]:
words = ['apple', 'banana', 'cherry']
words_dict = dict(map(lambda w: (w, len(w)), words))
print(words_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [ ]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

prime_numbers = filter(lambda n : is_prime(n), numbers)
print(list(prime_numbers))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

sum_list = [*map(lambda t: t[0] + t[1] + t[2], zip(list1, list2, list3))]
print(sum_list)

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [ ]:
text = 'Functional programming with lambda functions'
text = text.lower()
text_dict = dict(zip(set(text), [0]*len(text)))
for k in text_dict:
  text_dict[k] = text.count(k)
most_coommon_symbol = reduce(lambda x, y: x if x[1] > y[1] else y, text_dict.items())
print(most_coommon_symbol[0])

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [18]:
from functools import reduce

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
vowels = 'aeiouy'

count_vowels_in_word = lambda word: len(list(filter(lambda char: char in vowels, word)))
counted_vowels = map(count_vowels_in_word, words)
sum_vowels = reduce(lambda x, y: x + y, counted_vowels)
print(sum_vowels)

13